<!-- ko if: $data.primaryAction -->
    <a href="#" class="btn" role="button" data-bind="click: function() { primaryAction()($parent) }, html: primaryLabel, css: primaryCss"></a>
<!-- /ko -->
<!-- ko if: $data.secondaryAction -->
    <a href="#" class="btn" role="button" data-bind="click: function() { secondaryAction()($parent) }, html: secondaryLabel, css: secondaryCss"></a>
<!-- /ko -->
<!-- ko if: $data.closeAction -->
    <a href="#" class="btn" role="button" data-bind="click: function() { closeAction()($parent) }, html: closeLabel, css: closeCss"></a>
<!-- /ko -->